/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Meow+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Font classes */
.font-mynerve {
  font-family: 'Mynerve', cursive;
}

.font-meow-script {
  font-family: 'Meow Script', cursive;
}

.font-lora {
  font-family: 'Lora', serif;
} 